
<%- include("partials/header.ejs") %>
<h1>Contact Me</h1>
<form>
  <input style="color: black;" name="name" type="text" class="feedback-input" placeholder="Name" />
  <input style="color: black;" name="email" type="text" class="feedback-input" placeholder="Email" />
  <textarea style="color: black;" name="text" class="feedback-input" placeholder="Comment"></textarea>
  <input type="submit" value="SUBMIT" />
</form>
<%- include("partials/footer.ejs") %>